[Unit]
Description=Simple Telegram Spring Bot
After=syslog.target network.target

[Service]
SuccessExitStatus=143


User=root
Group=root


Type=simple

ExecStart=java -jar \
    -DBOT_DB_USERNAME=username \
    -DBOT_DB_PASSWORD=password \
    -DINFOZA_DB_USERNAME=username \
    -DINFOZA_DB_PASSWORD=password \
    -DBOT_TOKEN=token \
    -DBOT_OWNER=owner \
    /opt/bots/simple-bot.jar

[Install]
WantedBy=multi-user.target